@charset "UTF-8";
/* CSS Document */
body 
{
    background: navy; /* color of background */
    font-family: 'Times New Roman', Times, serif; 
    font-size: large;
    padding: 0px;
    margin: 0px;
    background-color: #C1E1F0;
    padding: 0px;
    margin: 0px; 
}

/* Navigation styling */
address 
{
    margin-left: 15px; /* left margin for address */
}

/* Banner */
#banner 
{
    height: 120px;
    background-color: SlateGrey; /* grey background */
}

/* Banner heading */
#banner h1 
{
    color: white;  /* white text */
}
